1168/CustomerService/CustomerDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://tempuri.org/CustomerDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/CustomerDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerDetails" targetNamespace="http://tempuri.org/CustomerDetails">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="CustomerDetailsService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="CustomerDetailsSOAP_HTTP_Binding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    
  <wsdl:types>
        
          
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/CustomerDetails" targetNamespace="http://tempuri.org/CustomerDetails">
      
      <xsd:include schemaLocation="CustomerDetailsService_InlineSchema1.xsd"/>
    </xsd:schema>
        
  </wsdl:types>
    
  <wsdl:message name="GetCustomer_in">
        
    <wsdl:part element="GetCustomerRequest" name="GetCustomerRequest"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetCustomer_out">
        
    <wsdl:part element="GetCustomerResponse" name="GetCustomerResponse"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetCustomer_fault1">
        
    <wsdl:part element="Fault" name="Fault"/>
      
  </wsdl:message>
    
  <wsdl:message name="AddCustomer_in">
        
    <wsdl:part element="AddCustomerRequest" name="AddCustomerRequest"/>
      
  </wsdl:message>
    
  <wsdl:message name="AddCustomer_out">
        
    <wsdl:part element="AddCustomerResponse" name="AddCustomerResponse"/>
      
  </wsdl:message>
    
  <wsdl:message name="AddCustomer_fault1">
        
    <wsdl:part element="Fault" name="Fault"/>
      
  </wsdl:message>
    
  <wsdl:portType name="CustomerDetailsPortType">
        
    <wsdl:operation name="GetCustomer">
            
      <wsdl:input message="GetCustomer_in" name="GetCustomer_Input"/>
            
      <wsdl:output message="GetCustomer_out" name="GetCustomer_Output"/>
            
      <wsdl:fault message="GetCustomer_fault1" name="GetCustomer_Fault"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="AddCustomer">
            
      <wsdl:input message="AddCustomer_in" name="AddCustomer_Input"/>
            
      <wsdl:output message="AddCustomer_out" name="AddCustomer_Output"/>
            
      <wsdl:fault message="AddCustomer_fault1" name="AddCustomer_Fault"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="CustomerDetailsSOAP_HTTP_Binding" type="CustomerDetailsPortType">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsdl:operation name="GetCustomer">
            
      <soap:operation soapAction=""/>
            
      <wsdl:input name="GetCustomer_Input">
                
        <soap:body parts="GetCustomerRequest" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output name="GetCustomer_Output">
                
        <soap:body parts="GetCustomerResponse" use="literal"/>
              
      </wsdl:output>
            
      <wsdl:fault name="GetCustomer_Fault">
                
        <soap:fault name="GetCustomer_Fault" use="literal"/>
              
      </wsdl:fault>
          
    </wsdl:operation>
        
    <wsdl:operation name="AddCustomer">
            
      <soap:operation soapAction=""/>
            
      <wsdl:input name="AddCustomer_Input">
                
        <soap:body parts="AddCustomerRequest" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output name="AddCustomer_Output">
                
        <soap:body parts="AddCustomerResponse" use="literal"/>
              
      </wsdl:output>
            
      <wsdl:fault name="AddCustomer_Fault">
                
        <soap:fault name="AddCustomer_Fault" use="literal"/>
              
      </wsdl:fault>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="CustomerService">
        
    <wsdl:port binding="CustomerDetailsSOAP_HTTP_Binding" name="CustomerDetails_Port">
            
      <soap:address location="http://localhost:7800/Customer"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
