1211/App_transform_CSV_TO_XML/transform_task2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
  
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
            
  
  
  
  <xsd:annotation>
                		
    
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                        			
      
      
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
                        		
    
    
    
    </xsd:appinfo>
                	
  
  
  
  </xsd:annotation>
        	
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="transform_task2">
                		
    
    
    
    <xsd:complexType>
                        			
      
      
      
      <xsd:sequence dfdl:separator="">
                                				
        
                        			
				
        
                
        
        <xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="header">
                                        					
          
          
          
          <xsd:complexType>
                                                						
            
            
            
            <xsd:sequence>
                                                        							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="employee_id" name="head_field1" type="xsd:string"/>
                                                        							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="first_name" name="head_field2" type="xsd:string"/>
                                                        							
							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="last_name" name="head_field3" type="xsd:string"/>
                                                        							
                            
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="department" name="head_field4" type="xsd:string"/>
                                                                                    
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="head_value5" name="head_field5" type="xsd:string"/>
                                                                                
            
            
            
            </xsd:sequence>
                                                					
          
          
          
          </xsd:complexType>
                                        				
        
        
        
        </xsd:element>
                                
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="employee">
                                        					
          
          
          
          <xsd:complexType>
                                                						
            
            
            
            <xsd:sequence>
                                                         
							
              
              
              
              <xsd:element dfdl:textNumberPattern="0" name="employee_id" type="xsd:integer"/>
                                                        							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="value2" name="first_name" type="xsd:string"/>
                                                        							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="value3" name="last_name" type="xsd:string"/>
                                                                                    
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="value4" name="department" type="xsd:string"/>
                                                                                    
              
              
              
              <xsd:element dfdl:textNumberPattern="0" name="salary" type="xsd:integer"/>
                                                                                
            
            
            
            </xsd:sequence>
                                                					
          
          
          
          </xsd:complexType>
                                        				
        
        
        
        </xsd:element>
                                				
			
      
      
      
      </xsd:sequence>
                        		
    
    
    
    </xsd:complexType>
                	
  
  
  
  </xsd:element>
        



</xsd:schema>
