1194/sharedLib/reqMessage.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="row"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="row">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="_request_"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="_request_" type="xsd:string"/>
</xsd:schema>
