1194/App_BankProject_1194/NewWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/">
          
  
  <xsd:element ibmSchExtn:docRoot="true" name="addition">
                
    
    <xsd:complexType>
                      
      
      <xsd:sequence>
              	
        <xsd:element name="num1" type="xsd:int"/>
              	
        <xsd:element name="num2" type="xsd:int"/>
              	
        <xsd:element name="NewElement1" type="tns:abc"/>
              	
        <xsd:element name="result">
                		
          <xsd:simpleType>
                  			
            <xsd:restriction base="xsd:string">
                    				
              <xsd:enumeration value="Pass"/>
                                          
              <xsd:enumeration value="Fail"/>
                                          
              <xsd:enumeration value="Boundry"/>
                    			
            </xsd:restriction>
                  		
          </xsd:simpleType>
        </xsd:element>
              
      </xsd:sequence>
          
    </xsd:complexType>
              
  
  </xsd:element>
          
  
  <xsd:element ibmSchExtn:docRoot="true" name="additionResponse">
                
    
    <xsd:complexType>
                      
      
      <xsd:sequence>
                            
        
        <xsd:element name="sum" type="xsd:int"/>
                          
      
      </xsd:sequence>
                    
    
    </xsd:complexType>
              
  
  </xsd:element>
        

  
  <xsd:complexType name="abc">
      	
    <xsd:sequence>
        		
      <xsd:element maxOccurs="1" minOccurs="0" name="city" type="xsd:string"/>
        		
      <xsd:element name="state" type="xsd:string"/>
        		
      <xsd:element name="pincode" type="xsd:string"/>
        	
    </xsd:sequence>
      
  </xsd:complexType>
  
</xsd:schema>
