1194/App_BankProject_1194/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="header">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="channelid"
      					type="xs:unsignedShort" />
      				<xs:element name="operation" type="xs:string" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="body">
      		<xs:complexType>
      			<xs:sequence>

      				<xs:element name="accNumber" type="xs:string"></xs:element>
      				<xs:element name="firstName" type="xs:string" />
      				<xs:element name="lastName" type="xs:string" />
      				<xs:element name="age" type="xs:unsignedByte" />
      				<xs:element name="gender" type="xs:string" />
      				<xs:element name="city" type="xs:string" />
      				<xs:element name="phone" type="xs:unsignedInt" />
      				<xs:element name="aadhar" type="xs:unsignedLong" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="MADHU" type="MADHUType"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MADHUType">
  	<xs:sequence>
  		<xs:element name="name" type="xs:string"></xs:element>
  	</xs:sequence>
  </xs:complexType>

</xs:schema>