1206/App_SOAP_CRUD/Crud.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Crud/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Crud" targetNamespace="http://www.example.org/Crud/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="Crud_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="CrudSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    
  <wsdl:types>
        
          
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.example.org/Crud/">
      
      <xsd:include schemaLocation="Crud_InlineSchema1.xsd"/>
    </xsd:schema>
        
  </wsdl:types>
    
  <wsdl:message name="InsertRequest">
        
    <wsdl:part element="tns:Insert" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="InsertResponse">
        
    <wsdl:part element="tns:InsertResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="ReadRequest">
      	
    <wsdl:part element="tns:Read" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="ReadResponse">
      	
    <wsdl:part element="tns:ReadResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="UpdateRequest">
      	
    <wsdl:part element="tns:Update" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="UpdateResponse">
      	
    <wsdl:part element="tns:UpdateResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DeleteRequest">
      	
    <wsdl:part element="tns:Delete" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DeleteResponse">
      	
    <wsdl:part element="tns:DeleteResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="Crud">
        
    <wsdl:operation name="Insert">
            
      <wsdl:input message="tns:InsertRequest"/>
            
      <wsdl:output message="tns:InsertResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Read">
          	
      <wsdl:input message="tns:ReadRequest"/>
          	
      <wsdl:output message="tns:ReadResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Update">
          	
      <wsdl:input message="tns:UpdateRequest"/>
          	
      <wsdl:output message="tns:UpdateResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Delete">
          	
      <wsdl:input message="tns:DeleteRequest"/>
          	
      <wsdl:output message="tns:DeleteResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="CrudSOAP" type="tns:Crud">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />

  	<wsdl:operation name="Insert">

  		<soap:operation
  			soapAction="http://www.example.org/Crud/Insert" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>

  	<wsdl:operation name="Read">

  		<soap:operation soapAction="http://www.example.org/Crud/Read" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>

  	<wsdl:operation name="Update">

  		<soap:operation
  			soapAction="http://www.example.org/Crud/Update" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>

  	<wsdl:operation name="Delete">

  		<soap:operation
  			soapAction="http://www.example.org/Crud/Delete" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="Crud">
        
    <wsdl:port binding="tns:CrudSOAP" name="CrudSOAP">
            
      <soap:address location="http://www.example.org/"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
