1194/App_SOAP_CRUD/NewWSDLFile_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/">
      	
  <xsd:element ibmSchExtn:docRoot="true" name="Insert">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="id" type="xsd:int"/>
            				
        <xsd:element name="name" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element ibmSchExtn:docRoot="true" name="InsertResponse">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="out" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element name="Read">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="in" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element name="ReadResponse">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="result" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element name="Update">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="name" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element name="UpdateResponse">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="out" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element name="Delete">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="id" type="xsd:int"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      	
  <xsd:element name="DeleteResponse">
        		
    <xsd:complexType>
          			
      <xsd:sequence>
            				
        <xsd:element name="out" type="xsd:string"/>
            			
      </xsd:sequence>
          		
    </xsd:complexType>
        	
  </xsd:element>
      
</xsd:schema>
