1202/App_SOAP_CRUD/NewWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="Create">
            
    <xsd:complexType>
                
      <xsd:sequence>
                  	
        <xsd:element name="col1" type="xsd:string"/>
                  	
        <xsd:element name="col2" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="CreateResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="out" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="Read">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="in" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="ReadResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="Update">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="col1" type="xsd:string"/>
              			
        <xsd:element name="newcol2" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="UpdateResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="Delete">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="in" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="DeleteResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
