1194/myIntegrationService/myIntegrationService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://myIntegrationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myIntegrationService">
                  
  
  
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="addition">
                                
    
    
    
    
    
    <xsd:complexType>
                                              
      
      
      
      
      
      <xsd:sequence>
                                                            
        
        
        
        
        
        <xsd:element name="num1" nillable="true" type="xsd:int"/>
                                                          
                
        
        
        
        
        <xsd:element name="num2" nillable="true" type="xsd:int"/>
                                                    
      
      
      
      
      </xsd:sequence>
                                            
    
    
    
    
    
    </xsd:complexType>
                              
  
  
  
  
  
  </xsd:element>
                  
  
  
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="additionResponse">
                                
    
    
    
    
    
    <xsd:complexType>
                                              
      
      
      
      
      
      <xsd:sequence>
                                                            
        
        
        
        
        
        <xsd:element name="sum" nillable="true" type="xsd:int"/>
                                                          
      
      
      
      
      
      </xsd:sequence>
                                            
    
    
    
    
    
    </xsd:complexType>
                              
  
  
  
  
  
  </xsd:element>
                



    
  
  <xsd:element ibmSchExtn:docRoot="true" name="setName">
        
    <xsd:complexType>
            
      <xsd:sequence>
                
        <xsd:element name="myName" nillable="true" type="xsd:string"/>
                        
        <xsd:element name="sirName" nillable="true" type="xsd:string"/>
                    
      </xsd:sequence>
          
    </xsd:complexType>
      
  </xsd:element>
    

</xsd:schema>
