1168/TASK_MAP_SELECT/employee.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    
  <xs:element name="Employee">
        
    <xs:complexType>
            
      <xs:sequence>
                
        <xs:element name="id" type="xs:string"/>
                
        <xs:element name="name" type="xs:string"/>
                
        <xs:element name="type" type="xs:string"/>
                
        <xs:element name="tel" type="xs:string"/>
                
        <xs:element name="email" type="xs:string"/>
              
      </xs:sequence>
          
    </xs:complexType>
      
  </xs:element>
  
</xs:schema>
