1194/App_MessageModel/Delimited2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element ibmSchExtn:docRoot="true" name="RecordProbem3">
        		
    
    <xsd:complexType>
            			
      
      <xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
                				
        
        <xsd:element maxOccurs="unbounded" name="body">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence dfdl:initiatedContent="no" dfdl:initiator="[Begin]{" dfdl:separator="^" dfdl:separatorSuppressionPolicy="anyEmpty" dfdl:terminator="}[End]">
                            							
              
              <xsd:element dfdl:initiator="" dfdl:textNumberPattern="0" name="Empid" type="xsd:int"/>
                            							
              
              <xsd:element dfdl:initiator="" ibmDfdlExtn:sampleValue="body_value2" name="Firstname" type="xsd:string"/>
                            							
              
              <xsd:element dfdl:initiator="" ibmDfdlExtn:sampleValue="body_value3" name="Lastname" type="xsd:string"/>
                                                        
              
              <xsd:element dfdl:initiator="" ibmDfdlExtn:sampleValue="body_value4" name="Dept" type="xsd:string"/>
                                                        
              
              <xsd:element dfdl:initiator="" dfdl:textNumberPattern="0" name="Salary" type="xsd:int"/>
                                                    
            
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                			
      
      </xsd:sequence>
            		
    
    </xsd:complexType>
        	
  
  </xsd:element>
    

</xsd:schema>
