1203/New_Application/CsvData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        
  
  <xsd:annotation>
        		
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
            			
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
            		
    
    </xsd:appinfo>
        	
  
  </xsd:annotation>
    	
  
  <xsd:element ibmSchExtn:docRoot="true" name="CsvData">
        		
    
    <xsd:complexType>
            			
      
      <xsd:sequence dfdl:separator="">
                				
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
                    					
          
          <xsd:complexType>
                        						
            
            <xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
                            							
              
              <xsd:element dfdl:textNumberPattern="0" name="Employe_id" type="xsd:integer"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="value2" name="Name" type="xsd:string"/>
                            							
              
              <xsd:element ibmDfdlExtn:sampleValue="value3" name="Lastname" type="xsd:string"/>
                                                        
              
              <xsd:element ibmDfdlExtn:sampleValue="value4" name="Dept" type="xsd:string"/>
                                                        
              
              <xsd:element dfdl:textNumberPattern="#E0" name="Salary" type="xsd:double"/>
                                                    
            
            </xsd:sequence>
                        					
          
          </xsd:complexType>
                    				
        
        </xsd:element>
                				
			
      
      </xsd:sequence>
            		
    
    </xsd:complexType>
        	
  
  </xsd:element>
    

</xsd:schema>
