1203/App_SOAP_LocEnvOverride/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="NewWSDLFile_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="NewWSDLFileSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    
  <wsdl:types>
        
          
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.example.org/NewWSDLFile/">
      
      <xsd:include schemaLocation="NewWSDLFile_InlineSchema1.xsd"/>
    </xsd:schema>
        
  </wsdl:types>
    
  <wsdl:message name="AddRequest">
        
    <wsdl:part element="tns:Add" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="AddResponse">
        
    <wsdl:part element="tns:AddResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SubtractRequest">
      	
    <wsdl:part element="tns:Subtract" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SubtractResponse">
      	
    <wsdl:part element="tns:SubtractResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="MultiplyRequest">
      	
    <wsdl:part element="tns:Multiply" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="MultiplyResponse">
      	
    <wsdl:part element="tns:MultiplyResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DivideRequest">
      	
    <wsdl:part element="tns:Divide" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DivideResponse">
      	
    <wsdl:part element="tns:DivideResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="NewWSDLFile">
        
    <wsdl:operation name="Add">
            
      <wsdl:input message="tns:AddRequest"/>
            
      <wsdl:output message="tns:AddResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Subtract">
          	
      <wsdl:input message="tns:SubtractRequest"/>
          	
      <wsdl:output message="tns:SubtractResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Multiply">
          	
      <wsdl:input message="tns:MultiplyRequest"/>
          	
      <wsdl:output message="tns:MultiplyResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Divide">
          	
      <wsdl:input message="tns:DivideRequest"/>
          	
      <wsdl:output message="tns:DivideResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsdl:operation name="Add">
            
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Add"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="Subtract">
            
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Subtract"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="Multiply">
            
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Multiply"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="Divide">
            
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/Divide"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="NewWSDLFile">
        
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
            
      <soap:address location="http://localhost:7800/path"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
