1200/App_globalcache_key_mapping/data.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="key"/>
        <xsd:element ref="value"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="value" type="xsd:string"/>
  <xsd:element name="key" type="xsd:string"/>
</xsd:schema>
