1211/App_SOAP_LocEnvOverride/operationOverridingWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/operationOverridingWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/operationOverridingWSDLFile/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="Add">
            
    <xsd:complexType>
                
      <xsd:sequence>
                  	
        <xsd:element name="a" type="xsd:int"/>
                  	
        <xsd:element name="b" type="xsd:int"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="AddResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="out" type="xsd:int"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="Sub">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="a" type="xsd:int"/>
              			
        <xsd:element name="b" type="xsd:int"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="SubResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:int"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
