1211/App_SOAP_LocEnvOverride/operationOverridingWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/operationOverridingWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="operationOverridingWSDLFile" targetNamespace="http://www.example.org/operationOverridingWSDLFile/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="operationOverridingWSDLFile_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="operationOverridingWSDLFileSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    
  <wsdl:types>
        
          
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.example.org/operationOverridingWSDLFile/">
      
      <xsd:include schemaLocation="operationOverridingWSDLFile_InlineSchema1.xsd"/>
    </xsd:schema>
        
  </wsdl:types>
    
  <wsdl:message name="AddRequest">
        
    <wsdl:part element="tns:Add" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="AddResponse">
        
    <wsdl:part element="tns:AddResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SubRequest">
      	
    <wsdl:part element="tns:Sub" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SubResponse">
      	
    <wsdl:part element="tns:SubResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="operationOverridingWSDLFile">
        
    <wsdl:operation name="Add">
            
      <wsdl:input message="tns:AddRequest"/>
            
      <wsdl:output message="tns:AddResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Sub">
          	
      <wsdl:input message="tns:SubRequest"/>
          	
      <wsdl:output message="tns:SubResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="operationOverridingWSDLFileSOAP" type="tns:operationOverridingWSDLFile">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    
    <wsdl:operation name="Add">
            
      <soap:operation soapAction="http://www.example.org/operationOverridingWSDLFile/Add"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    
    <wsdl:operation name="Sub">
            
      <soap:operation soapAction="http://www.example.org/operationOverridingWSDLFile/Sub"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
  
  </wsdl:binding>
    
  <wsdl:service name="operationOverridingWSDLFile">
        
    <wsdl:port binding="tns:operationOverridingWSDLFileSOAP" name="operationOverridingWSDLFileSOAP">
            
      <soap:address location="http://localhost:7800/"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
