1206/SharedLibrary/MessageModels/ValidateXML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="root" type="root"></xsd:element>
    

    <xsd:complexType name="root">
    	<xsd:sequence>
    		<xsd:element name="id" type="xsd:int"></xsd:element>
    		<xsd:element name="name" type="xsd:string"></xsd:element>
    		<xsd:element name="age" type="xsd:int"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>
