1202/App_log_dynamic_filelog/csvlog.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              
  
  
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
              
  
  
  
  
  <xsd:annotation>
                    		
    
    
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                              			
      
      
      
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
                              		
    
    
    
    
    </xsd:appinfo>
                    	
  
  
  
  
  </xsd:annotation>
          	
  
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="csvlog">
                    		
    
    
    
    
    <xsd:complexType>
                              			
      
      
      
      
      <xsd:sequence dfdl:separator="">
                                        				
        
                        			
				
        
        
        
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
                                                  					
          
          
          
          
          <xsd:complexType>
                                                            						
            
            
            
            
            <xsd:sequence dfdl:initiator="|**|" dfdl:separator="|*|" dfdl:terminator="|**|">
                                                                       
							
              
              
                                                        							
              
              
                                          						
            
            
                            
              
              <xsd:element name="field1" type="xsd:string"/>
                                                        
              
              <xsd:element name="field2" type="xsd:string"/>
                                                        
              
              <xsd:element name="field3" type="xsd:string"/>
                                                        
              
              <xsd:element name="field4" type="xsd:string"/>
                                                        
              
              <xsd:element name="field5" type="xsd:string"/>
                                                        
              
              <xsd:element name="field6" type="xsd:string"/>
                                                        
              
              <xsd:element name="field7" type="xsd:string"/>
                                                        
              
              <xsd:element name="field8" type="xsd:string"/>
                                                        
              
              <xsd:element name="field9" type="xsd:string"/>
                                                        
              
              <xsd:element name="field10" type="xsd:string"/>
                                                    
            
            </xsd:sequence>
                                                            					
          
          
          
          
          </xsd:complexType>
                                                  				
        
        
        
        
        </xsd:element>
                                        				
			
      
      
                                  
      
      </xsd:sequence>
                              		
    
    
    
    
    </xsd:complexType>
                    	
  
  
  
  
  </xsd:element>
          




</xsd:schema>
