1201/App_SOAP_ArithmeticOperations/Arithmetic_Op.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Arithmetic_Op/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Arithmetic_Op" targetNamespace="http://www.example.org/Arithmetic_Op/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="Arithmetic_soap_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="Arithmetic_OpSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    
  <wsdl:types>
        
          
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.example.org/Arithmetic_Op/">
      
      <xsd:include schemaLocation="Arithmetic_soap_InlineSchema1.xsd"/>
    </xsd:schema>
        
  </wsdl:types>
    
  <wsdl:message name="AdditionRequest">
        
    <wsdl:part element="tns:Addition" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="AdditionResponse">
        
    <wsdl:part element="tns:AdditionResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SubstractionRequest">
      	
    <wsdl:part element="tns:Substraction" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="SubstractionResponse">
      	
    <wsdl:part element="tns:SubstractionResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="MultiplyRequest">
      	
    <wsdl:part element="tns:Multiply" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="MultiplyResponse">
      	
    <wsdl:part element="tns:MultiplyResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DivisionRequest">
      	
    <wsdl:part element="tns:Division" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DivisionResponse">
      	
    <wsdl:part element="tns:DivisionResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="Arithmetic_Op">
        
    <wsdl:operation name="Addition">
            
      <wsdl:input message="tns:AdditionRequest"/>
            
      <wsdl:output message="tns:AdditionResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Substraction">
          	
      <wsdl:input message="tns:SubstractionRequest"/>
          	
      <wsdl:output message="tns:SubstractionResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Multiply">
          	
      <wsdl:input message="tns:MultiplyRequest"/>
          	
      <wsdl:output message="tns:MultiplyResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="Division">
          	
      <wsdl:input message="tns:DivisionRequest"/>
          	
      <wsdl:output message="tns:DivisionResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="Arithmetic_OpSOAP" type="tns:Arithmetic_Op">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsdl:operation name="Addition">
            
      <soap:operation soapAction="http://www.example.org/Arithmetic_Op/Addition"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
    
    
    
    <wsdl:operation name="Substraction">
            
      <soap:operation soapAction="http://www.example.org/Arithmetic_Op/Substraction"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
    
    
    <wsdl:operation name="Multiply">
            
      <soap:operation soapAction="http://www.example.org/Arithmetic_Op/Multiply"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
    
    
    <wsdl:operation name="Division">
            
      <soap:operation soapAction="http://www.example.org/Arithmetic_Op/Division"/>
            
      <wsdl:input>
                
        <soap:body use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
    
      
  </wsdl:binding>
    
  <wsdl:service name="Arithmetic_Op">
        
    <wsdl:port binding="tns:Arithmetic_OpSOAP" name="Arithmetic_OpSOAP">
            
      <soap:address location="http://localhost:7800/"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
