1200/App_soap_crud/NewWSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="create">
            
    <xsd:complexType>
                
      <xsd:sequence>
                  	
        <xsd:element name="emp_id" type="xsd:int"/>
                  	
        <xsd:element name="emp_name" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="createResponse">
            
    <xsd:complexType>
                
      <xsd:sequence>
                    
        <xsd:element name="out" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="read">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="emp_id" type="xsd:int"/>
              			
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="readResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="update">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="emp_id" type="xsd:int"/>
              			
        <xsd:element name="emp_name" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="updateResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="delete">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="emp_id" type="xsd:int"/>
              			
        <xsd:element name="emp_name" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="deleteResponse">
          	
    <xsd:complexType>
            		
      <xsd:sequence>
              			
        <xsd:element name="out" type="xsd:string"/>
              		
      </xsd:sequence>
            	
    </xsd:complexType>
          
  </xsd:element>
      
</xsd:schema>
