1200/App_soap_arithmetic_operations/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="NewWSDLFile_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="NewWSDLFileSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    
  <wsdl:types>
        
          
    <xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.example.org/NewWSDLFile/">
      
      <xsd:include schemaLocation="NewWSDLFile_InlineSchema1.xsd"/>
    </xsd:schema>
        
  </wsdl:types>
    
  <wsdl:message name="addRequest">
        
    <wsdl:part element="tns:add" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="addResponse">
        
    <wsdl:part element="tns:addResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="subRequest">
      	
    <wsdl:part element="tns:sub" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="subResponse">
      	
    <wsdl:part element="tns:subResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="mulRequest">
      	
    <wsdl:part element="tns:mul" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="mulResponse">
      	
    <wsdl:part element="tns:mulResponse" name="parameters"/>
      
  </wsdl:message>
    

    
  <wsdl:message name="divRequest">
      	
    <wsdl:part element="tns:div" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="divResponse">
      	
    <wsdl:part element="tns:divResponse" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="NewWSDLFile">
        
    <wsdl:operation name="add">
            
      <wsdl:input message="tns:addRequest"/>
            
      <wsdl:output message="tns:addResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="sub">
          	
      <wsdl:input message="tns:subRequest"/>
          	
      <wsdl:output message="tns:subResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="mul">
          	
      <wsdl:input message="tns:mulRequest"/>
          	
      <wsdl:output message="tns:mulResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="div">
          	
      <wsdl:input message="tns:divRequest"/>
          	
      <wsdl:output message="tns:divResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />

  	<wsdl:operation name="add">

  		<soap:operation
  			soapAction="http://www.example.org/NewWSDLFile/add" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>


  	<wsdl:operation name="sub">

  		<soap:operation
  			soapAction="http://www.example.org/NewWSDLFile/sub" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>



  	<wsdl:operation name="mul">

  		<soap:operation
  			soapAction="http://www.example.org/NewWSDLFile/mul" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>



  	<wsdl:operation name="div">

  		<soap:operation
  			soapAction="http://www.example.org/NewWSDLFile/div" />

  		<wsdl:input>

  			<soap:body use="literal" />

  		</wsdl:input>

  		<wsdl:output>

  			<soap:body use="literal" />

  		</wsdl:output>

  	</wsdl:operation>




  </wsdl:binding>

  <wsdl:service name="NewWSDLFile">
        
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
            
      <soap:address location="http://localhost:7800/"/>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
