1200/App_JCN_Transformations/fixedlength.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
          
  
  
  <xsd:annotation>
            		
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                  			
      
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="US-ASCII" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
                  		
    
    
    </xsd:appinfo>
            	
  
  
  </xsd:annotation>
      	
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="fixedlength">
            		
    
    
    <xsd:complexType>
                  			
      
      
      <xsd:sequence dfdl:separator="">
                        				
        
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
                              					
          
          
          <xsd:complexType>
                                    						
            
            
            <xsd:sequence dfdl:separator="" dfdl:separatorSuppressionPolicy="trailingEmpty">
                                          							
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="\d+" dfdl:textNumberPattern="0" name="field1" type="xsd:int"/>
                                          							
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="[A-Z]+[a-z]+" ibmDfdlExtn:sampleValue="value2" name="field2" type="xsd:string"/>
                                          							
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="[A-Z][a-z]+" ibmDfdlExtn:sampleValue="value3" name="field3" type="xsd:string"/>
                                                                      
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="[A-Z]+[a-z]*" ibmDfdlExtn:sampleValue="value4" name="field4" type="xsd:string"/>
                                                                      
              
              
              <xsd:element dfdl:lengthKind="pattern" dfdl:lengthPattern="\d+" dfdl:textNumberPattern="0" name="field5" type="xsd:int"/>
                                                                  
            
            
            </xsd:sequence>
                                    					
          
          
          </xsd:complexType>
                              				
        
        
        </xsd:element>
                        				
			
      
      
      </xsd:sequence>
                  		
    
    
    </xsd:complexType>
            	
  
  
  </xsd:element>
      


</xsd:schema>
